@mixin text {
  color: white;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

@mixin selected-button {
  color: red;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

$content-color: #5a5a5a;
$text-content-color: #a2a2a2;
$light-black-color: #0101012e;
$light-background-color: #403e3e;
$border-divider-color: #0101012e;
.root {

  .navigation {
    border-bottom: 1px solid #0101012e;
  }
  .container-fluid {

    .sidebar {
      padding: 0.5rem;
      color: white;
      border-right: 1px solid $border-divider-color;
      .side-menu-items {
        font-size: 18px;
        height: calc(100vh - 100px);
        overflow-y: auto;
        margin-top: 25px;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0 0 0 1.5rem;
          cursor: pointer;
          height: inherit;
          li {
            margin-top: 0.5rem;
            @include text;
            &:hover, .selected {
              color: green;
            }
          }
        }
        &:hover {
          //color: black
        }
      }
    }
    .body-container {
      padding-top: 8px;
      .filters-section {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light-black-color;
        padding-bottom: 9px;

        .std-filters {
          display: flex;
          justify-content: space-around;
          flex-grow: 0.2;
          margin: auto 0;

          .selected-filter {
            background-color: #403e3e;
            color: $text-content-color;
            height: 23px

          }

          .selected-button {
            @include selected-button;
          }

          .constant {
            color: $content-color;
          }
          .option {
            &:hover {
              color: red;
              cursor: pointer;
            }
          }
        }
      }
      .shortcut-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        .draggable {
          margin-right: 11px;
        }
        .shortcut {
          height: 145px;
          width: 139px;
          padding: 20px 15px;
          box-sizing: border-box;
          position: relative;

          &:hover {
            background-color: rgba(255, 255, 255, .1);
            border-radius: 7px;
          }
          &:hover .shortcut-options {
            display: block;
            cursor: pointer;
          }
          .shortcut-content {
            text-align: center;
            margin-top: 10px;
            .shortcut-name {
              overflow: hidden;
              text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap;
              align-content: center;
              @include text;
            }
            .icon {
              background-color: #eee;
              border-radius: 50px;
              padding: 12px;
              height: 60px;
              width: 60px;
              margin-bottom: 15px;
            }
          }
          .shortcut-options {
            display: none;
            position: absolute;
            top: 3px;
            left: 1px;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;

            .left-options {
              display: flex;
              flex-direction: row;
              width: 30%;
              position: inherit;
              justify-content: space-between;
              float: left;

              .select-checkbox {
                color: white;
                &:hover {
                  z-index: 4555;
                  color: red;
                }
              }
              .favourite {
                color: white;
                &:hover {
                  color: green;
                }
              }


            }
            .right-options {
              float: right;
              .shortcut-edit-menu {
                color: white;
                &:hover {
                  z-index: 4555;
                  color: red;
                }
              }
            }
          }

        }
        .selected {
          background-color: rgba(255, 255, 255, .1);
          border-radius: 7px;
          .shortcut-options {
            display: block;
            position: absolute;
            top: 3px;
            left: 1px;
            width: 100%;

          }
        }
      }
      .tags-container {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .droppable {
      border: 1px solid red;
      .delete-drop-section {
        color: green;
        border-left: 1px solid $border-divider-color;
        height: 100%
      }
    }

  }
}

.custom-popper {
  z-index: 1500;
  background: white;
  min-height: 30px;
  overflow-y: auto;
  max-height: 300px;
  .popper-data {
    background-color: white;
    width: 100%;
    ul {
      list-style-type: none;
      li {
        cursor: pointer;
        padding: 0;
        color: black;

        :hover {
          color: green;
        }

        .tag-option {
          padding: 5px;
          box-sizing: border-box;
        }

      }
    }

  }
}

.MuiChip-root {
  margin-top: 5px;
  margin-right: 5px;

}

body {
  border-top: 3px solid red;

}

.custom-bg {
  //background-image: url("./../awesome hands.JPG");
  opacity: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  transition: opacity 700ms;
  width: 100%;
  background-color: #1d1d1d;
}

.black-theme {
  color: white;
  background-color: #403e3e;
  border-color: #5d5e5f;
  border-radius: 0.5rem;
}

.form-control:focus {
  color: white;
  background-color: $light-background-color;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.shortcut-button {
  &:hover {
    color: white;
    background-color: #403e3e;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }


}


button:focus {
  outline: none;
}


 button.active {
   border-color: #80bdff;
   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


